.app {
  --color-primary: #76abae;
  --color-primary-hovered: #a5d5d7;
  --color-text: #eeeeee;
  --color-bg: #222831;
  --color-bg-variant: #31363f;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-text);
}
a {
  color: var(--color-primary);
  text-decoration: none;
  transition: .3s;
  &:hover {
    color: var(--color-primary-hovered);
  }
}

